.text1{
    color: turquoise;
}
.text2{
    color: coral;
    text-decoration: wavy underline overline line-through;
    text-transform: uppercase;
}
h1{
    text-transform: uppercase;
}
.block{
    text-align: center;
    border: solid 1px yellow;
    border-radius: 50px;
    border-inline: none;
}
.list{
    list-style-type: lower-greek;
}